.card {
  $break-at: 35rem;

  background: #fff;
  background: transparentize(#fff, 0.3);
  border-radius: 0.2rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 8rem 1fr;
  padding: 2rem;

  @media screen and (min-width: $break-at) {
    align-items: center;
    grid-template-columns: 8rem 1fr;
    grid-template-rows: 1fr;
  }

  &__dude {
    border-radius: 50%;
    justify-self: center;
    height: 8rem;
    overflow: hidden;
    width: 8rem;
  }

  &__image {
    display: block;
    width: 100%;
  }
}
